/*clases para definir el tamaño (alto) de la fila en el grid según la cantidad de texto y el ancho de la columna*/

body .modal {
    width: 90%;
    /* desired relative width */
    left: 5%;
    /* (100%-width)/2 */
    /* place center */
    margin-left: auto;
    margin-right: auto;
}

#pac {
    min-height: 300px !important;
    width: auto !important;
}

@import 'common';