@import 'common';
span {
    align-self: left;
}

// injector
// endinjector
#pac .mi-grid-pac.ui-grid-row,
#pac .mi-grid-pac.ui-grid-cell {
    height: auto!important;
}

#pac .mi-grid-pac.ui-grid-cell {
    float: none !important;
    display: table-cell !important;
}

/* UI-GRID*/

[ui-grid-row] {
  display: table-row;
}

.ui-grid-row, .ui-grid-cell {
  height: auto!important;
}

.ui-grid-cell {
  float: none;
  display: table-cell;
  vertical-align: middle !important;
}

.ui-grid-header-cell, .ui-grid-cell-contents {
  white-space: normal;
  padding: auto !important;
  word-break: break-word;
}

.ui-grid, .ui-grid-viewport, .ui-grid-render-container-body, .ui-grid-canvas {
  height: auto !important;
}

.ui-grid-pager-panel {
  position: relative !important;
  left: 0 !important;
  bottom: 0px !important;
  top: -12px;
  padding-top: 16px !important;
  padding-bottom: 16px;
}

.ui-grid-pager-container {
    float: none !important;
}

.ui-grid-pager-control .ui-grid-pager-max-pages-number {
    vertical-align: middle;
}
/*#simplegrid  [ui-grid-row] {
  display: table-row !important;
}

#simplegrid  .ui-grid-row, .ui-grid-cell {
  height: auto!important;
}

#simplegrid  .ui-grid-cell {
  float: none !important;
  display: table-cell !important;
}

#simplegrid  .ui-grid-header-cell, .ui-grid-cell-contents {
  white-space: normal !important;
  padding: auto !important;
  word-break: break-word !important;
}

#simplegrid .ui-grid, .ui-grid-viewport, .ui-grid-render-container-body, .ui-grid-canvas {
  height: auto !important;
}

#simplegrid .ui-grid-pager-panel {
  position: sticky !important;
  left: 0 !important;
  bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#simplegrid  .ui-grid-pager-container {
  float: none !important;
}*/


/*clases para acomodar el grid al numero de filas contemplando sus tamaños.*/

#pac .mi-grid-pac.ui-grid-header-cell,
#pac .mi-grid-pac.ui-grid-cell-contents {
    white-space: normal;
    padding: auto !important;
    word-break: break-word;
}

.mi-grid-pac.ui-grid,
.mi-grid-pac.ui-grid-viewport,
.mi-grid-pac.ui-grid-render-container-body,
.mi-grid-pac.ui-grid-canvas {
    height: auto !important;
}

md-checkbox.md-checked.blue .md-icon {
    background-color: rgba(0, 62, 101, 1);
}

.left-cinco {
    padding-left: 5%;
}

#mynetwork {
    border: 1px solid rgba(0, 62, 101, 1);
}

.middle {
    vertical-align: center;
    text-align: center;
}

sencillo {
    padding: 0;
    margin: 0;
}

#loading-bar .bar {
    background-color: #eea236;
}

.menu-app {
    background: url('https://s3.amazonaws.com/assets-oas/logos-75.png');
    display: inline-block;
    height: 75px;
    width: 75px;
    margin-top: 3px;
    border-color: #34495e
}

.menu-app:hover {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #95a5a6
}

#polux {
    background-position: 0px 0px;
}

#jano {
    background-position: -75px 0px;
}

#kyron {
    background-position: -150px 0px;
}

#sga {
    background-position: -225px 0px;
}

#kronos {
    background-position: -301px 0px;
}

#agora {
    background-position: 0px -75px;
}

#argo {
    background-position: -75px -75px;
}

#arka {
    background-position: -150px -75px;
}

#temis {
    background-position: -225px -75px;
}

div.sticky {
    position: sticky;
    bottom: 0;
    right: 1;
}

md-sidenav {
    padding-left: 5px;
    padding-bottom: 80px;
    padding-top: 80px;
    width: 100px;
}

.my-icon-button {
    padding: 10px !important;
    min-width: 0;
    min-height: 0;
    line-height: normal;
}


/* UI-GRID*/

.logo {
    height: 55px;
}

.loading {
    margin: 8%;
    text-align: center;
}


/*TABLE*/

.table-fixed thead {
    width: 97%;
}

.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed thead>tr>th {
    float: left;
    border-bottom-width: 0;
}


/* UI-GRID*/

#mi-grid {
    min-height: 50px !important;
    width: auto !important;
}


/*clases para definir el tamaño (alto) de la fila en el grid según la cantidad de texto y el ancho de la columna*/

.mi-grid .ui-grid-row,
.mi-grid .ui-grid-cell {
    height: auto!important;
}

.mi-grid .ui-grid-cell {
    float: none;
    display: table-cell;
}


/*clases para acomodar el grid al numero de filas contemplando sus tamaños.*/

.mi-grid .ui-grid-viewport .ui-grid-cell-contents {
    word-wrap: break-word;
    white-space: normal !important;
    overflow: visible;
}

.mi-grid .ui-grid-cell {
    display: table-cell;
    height: auto !important;
    overflow: visible;
    position: static;
}

.mi-grid .ui-grid-row {
    height: auto;
    display: table-row;
    position: static;
}

.mi-grid .ui-grid-row div[role=row] {
    display: flex;
    align-content: stretch;
}

.mi-grid .ui-grid,
.mi-grid .ui-grid-viewport,
.mi-grid .ui-grid-render-container-body,
.mi-grid .ui-grid-canvas {
    height: auto !important;
}


/*clases para posicionar el paginador debajo del grid */

.mi-grid .ui-grid-pager-panel {
    margin-bottom: -30px !important;
}

.mi-grid .ui-grid-pager-container {
    float: none !important;
    height: auto !important;
}


/*BUTTONS OPTIONS*/

.borrar:hover {
    color: #DB0A5B
}

.editar:hover {
    color: #F39C12
}

.configuracion:hover {
    color: #9A12B3
}

.ver:hover {
    color: #00B16A
}

.page-header {
    padding-bottom: 0px;
    margin: 20px;
    border-bottom: 1px solid #eee;
    color: #31708F
}


/*da color azulado al margen inferior de donde se utilice la etiqueta*/

legend {
    border-bottom: 1px solid #528ec2 !important;
    padding: 5px;
}


/* hace un resaltado azulado al pasar el mause sobre lo que contenga*/

legend:hover {
    background-color: #337ab7;
    color: #fff;
    padding: 5px;
}


/*quita la negrilla al texto*/

.unbold {
    font-weight: normal;
}


/*se define un badge general para listado de items, mensages, errores, etc*/

.badge {
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}


/*tipos de badge orientados a bootstrap */

.badge-error {
    background-color: #b94a48;
}

.badge-error:hover {
    background-color: #953b39;
}

.badge-warning {
    background-color: #f89406;
}

.badge-warning:hover {
    background-color: #c67605;
}

.badge-success {
    background-color: #468847;
}

.badge-success:hover {
    background-color: #356635;
}

.badge-info {
    background-color: #3a87ad;
}

.badge-info:hover {
    background-color: #2d6987;
}

.badge-inverse {
    background-color: #333333;
}

.badge-inverse:hover {
    background-color: #1a1a1a;
}


/* NOTIFICATION*/

.notificacion_vista {
    color: #e74c3c;
}


/* input right*/

.input_right {
    text-align: right
}

.input_center {
    text-align: center
}


/*Clases generales para pintar imputs que utilizan ng-model e indicar el error*/

.ng-invalid.ng-dirty {
    border-color: #cc0909;
}

.ng-valid.ng-dirty {
    border-color: #2f8448;
}


/*style footer */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer {
    background-color: #0c1a1e;
    min-height: 350px;
    font-family: 'Open Sans', sans-serif;
}

.footerleft {
    margin-top: 50px;
    padding: 0 36px;
}

.logofooter {
    margin-bottom: 10px;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
}

.footerleft p {
    color: #fff;
    font-size: 12px !important;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.footerleft p i {
    width: 20px;
    color: #999;
}

.paddingtop-bottom {
    margin-top: 50px;
}

.footer-ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 2px;
}

.footer-ul li {
    line-height: 29px;
    font-size: 12px;
}

.footer-ul li a {
    color: #a0a3a4;
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
}

.footer-ul i {
    margin-right: 10px;
}

.footer-ul li a:hover {
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
    color: #ff670f;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.icon-ul {
    list-style-type: none !important;
    margin: 0px;
    padding: 0px;
}

.icon-ul li {
    line-height: 75px;
    width: 100%;
    float: left;
}

.icon {
    float: left;
    margin-right: 5px;
}

.copyright {
    min-height: 40px;
    background-color: #000000;
}

.copyright p {
    text-align: left;
    color: #FFF;
    padding: 10px 0;
    margin-bottom: 0px;
}

.heading7 {
    font-size: 21px;
    font-weight: 700;
    color: #d9d6d6;
    margin-bottom: 22px;
}

.post p {
    font-size: 12px;
    color: #FFF;
    line-height: 20px;
}

.post p span {
    display: block;
    color: #8f8f8f;
}

.bottom_ul {
    list-style-type: none;
    float: right;
    margin-bottom: 0px;
}

.bottom_ul li {
    float: left;
    line-height: 40px;
}

.bottom_ul li:after {
    content: "/";
    color: #FFF;
    margin-right: 8px;
    margin-left: 8px;
}

.bottom_ul li a {
    color: #FFF;
    font-size: 12px;
}


/*footer*/

.footer {
    bottom: 0px;
    height: 30;
    right: 0%;
    left: 0%;
    position: fixed!important;
    position: absolute;
    width: 100%;
    top: expression((0-(footer.offsetHeight)+ (document.documentElement.clientHeight? document.documentElement.clientHeight: document.body.clientHeight)+(ignoreMe=document.documentElement.scrollTop? document.documentElement.scrollTop: document. body.scrollTop))+'px');
    text-align: center;
    visibility: visible;
}


/*end style footer*/

.dropdown-submenu {
    position: relative;
}


/*dropdown menu*/

.dropdown-submenu>.dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -3px;
    margin-left: 0px;
    -webkit-border-radius: 6px 6px 6px 0;
    -moz-border-radius: 6px 6px 6px 0;
    border-radius: 6px 6px 6px 0x;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #555;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


/*end dropdown-menu */

/*body {
    background-color: #FFFFFF;
}*/

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-nav li:last-child {
    padding-right: 30px;
    padding-top: 5px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

@media screen and (max-width: 699px) and (min-width: 456px) {
    md-sidenav {
        width: 100px;
    }
}

@media screen and (max-width: 556px) {
    md-sidenav {
        width: 70px;
    }
    .img-responsive {
        width: 70px
    }
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50, 50, 50, .5);
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: rgba(0, 62, 101, 1);
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: rgba(0, 62, 101, 1) !important;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.codigo-panel {
    margin-left: 10px;
    margin-right: 10px;
}

.panel-default>.panel-heading {
    color: white;
    background-color: rgb(28, 43, 54);
    border-color: #ddd;
}
