<div class="panel panel-primary panel-body">
    <h2 class="page-header text-center">{{ 'LISTA_AVANCES' | translate }}</h2>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ 'LISTA_AVANCES' | translate }}
            </div>
            <div class="panel-body">
                <div class="mi-grid" id="mi-grid" ui-grid="TiposAvance.gridOptions" ui-grid-selection ui-grid-pagination></div>
            </div>
            <div class="panel-footer">
                <div align="center"> <button ng-click="loadrow('', 'add')" class="btn btn-info btn-outline">{{ 'BTN.NUEVO' | translate }}</button></div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade col-md-12" role="dialog" style="padding-top:5%">
    <div class="modal-content col-md-offset-2 col-md-8">
        <div class="modal-header">
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="">&times</button><br>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" ng-if="TiposAvance.operacion == 'add' ">
                {{'NUEVO_TIPO_AVANCE' | translate }}
            </div>
            <div class="panel-heading" ng-if="TiposAvance.operacion == 'edit' ">
                {{'EDITAR_TIPO_AVANCE' | translate }}
            </div>


            <form class="form-horizontal" name="avances_add_edit" ng-submit="TiposAvance.add_edit()">
                <br>
                <div class="row">
                    <label for="CodigoAbreviacion" class="col-sm-2 control-label">{{'CODIGO_ABREVIACION' | translate }}:</label>
                    <div class="col-sm-9">
                        <input name="CodigoAbreviacion" type="text" ng-model="TiposAvance.tipo_avance.CodigoAbreviacion" class="form-control" ng-required="true" />
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="nombre" class="col-sm-2 control-label">{{'NOMBRE' | translate }}:</label>
                    <div class="col-sm-9">
                        <input name="CodigoAbreviacion" type="text" ng-model="TiposAvance.tipo_avance.Nombre" class="form-control" maxlength="50" ng-required="true" />
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-2 control-label">{{'DESCRIPCION' | translate }}:</label>
                    <div class="col-sm-9">
                        <textarea name="descripcion" ng-model="TiposAvance.tipo_avance.Descripcion" rows=7 class="form-control" maxlength="250" required="true"></textarea>
                    </div>
                </div>
                <br>
                <div class="row" ng-if="TiposAvance.operacion =='edit'">
                    <label for="descripcion" class="col-sm-2 control-label">{{'ACTIVO' | translate }}:</label>
                    <div class="col-sm-9">
                        <md-checkbox ng-model="TiposAvance.tipo_avance.Activo" class="blue">
                        </md-checkbox>
                    </div>
                </div>
                <br>
                <center>
                    <input type="reset" class="btn btn-info btn-outline" value="{{'BTN.LIMPIAR' | translate }}" />
                    <input type="submit" ng-click="TiposAvance.add_edit()" class="btn btn-success btn-outline" value="{{'BTN.GUARDAR' | translate }}" />
                </center>
            </form>
            <br>
        </div>
    </div>
</div>


<div id="modalConf" class="modal fade col-md-12" role="dialog" style="padding-top:5%">
    <div class="modal-content col-md-offset-2 col-md-8">
        <div class="modal-header">
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="">&times</button><br>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                {{'AGREGAR_REQUISITO' | translate }}
            </div>

            <form class="form-horizontal" name="avances_requisitos" ng-submit="avances_requisitos.$valid && TiposAvance.anadir_requisito()">
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-2 control-label">{{'REQUISITOS' | translate }}:</label>
                    <div class="col-sm-7">
                        <select name="requisito" ng-model="TiposAvance.requisito" class="form-control" ng-required="true">
               <option selected value="" disabled>{{'SELECCIONE' | translate }} ...</option>
               <option ng-repeat="r in TiposAvance.requisito_select" value="{{r.Id}}">{{"(" + r.CodigoAbreviacion + ")\t" + r.Nombre}}</option>
            </select>
                    </div>
                    <div class="col-sm-2">
                        <input type="submit" class="btn btn-success btn-outline" value="{{'BTN.ANADIR' | translate }}" />
                    </div>
                    <div class="col-md-offset-2 col-md-8">
                        <md-chips ng-model="TiposAvance.requisito_tipo_avance" readonly="true" md-removable="false">
                            <md-chip-template>
                                <span>
                  <em>({{$chip.RequisitoAvance.CodigoAbreviacion}})</em>
                  <strong>{{$chip.RequisitoAvance.Nombre}}</strong>
                </span>
                                <a md-chip-remove class="borrar" ng-click="TiposAvance.eliminar_requisito($chip.Id)">
                                    <i data-toggle="tooltip" title="{{'BTN.BORRAR' | translate }}" class="fa fa-trash fa-lg  faa-shake animated-hover" aria-hidden="true">
                  </i>
                                </a>
                                </center>

                            </md-chip-template>
                        </md-chips>
                    </div>

                </div>
                <br>
            </form>
            <br>
        </div>
    </div>
</div>

<div id="modalVer" class="modal fade col-md-12" role="dialog" style="padding-top:5%">
    <div class="modal-content col-md-offset-1 col-md-10">
        <div class="modal-header">
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="">&times</button><br>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                {{"(" + TiposAvance.row_entity.CodigoAbreviacion+")" + " " + TiposAvance.row_entity.Nombre}}
            </div>
            <form class="form-horizontal" name="avances_add_edit">
                <br>
                <div class="row">
                    <label for="CodigoAbreviacion" class="col-sm-2 control-label">{{'CODIGO_ABREVIACION' | translate }}:</label>
                    <div class="col-sm-9">
                        <span name="CodigoAbreviacion" type="text" class="form-control" ng-required="true">
              {{TiposAvance.row_entity.CodigoAbreviacion}}
            </span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="nombre" class="col-sm-2 control-label">{{'NOMBRE' | translate }}:</label>
                    <div class="col-sm-9">
                        <span name="CodigoAbreviacion" type="text" class="form-control" ng-required="true">
            {{TiposAvance.row_entity.Nombre}}
          </span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-2 control-label">{{'DESCRIPCION' | translate }}:</label>
                    <div class="col-sm-9">
                        <textarea name="descripcion" ng-model="TiposAvance.row_entity.Descripcion" rows=7 class="form-control" required="true" readonly></textarea>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="descripcion" class="col-sm-2 control-label">{{'ACTIVO' | translate }}:</label>
                    <div class="col-sm-9">
                        <md-checkbox ng-model="TiposAvance.row_entity.Activo" class="blue">
                        </md-checkbox>
                    </div>
                </div>
                <br>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ 'LISTA_REQUISITOS_AVANCE' | translate }}
                        </div>
                        <div class="panel-body">
                            <div ui-grid="TiposAvance.grid_option_requisito" class="mi-grid" id="mi-grid" ui-grid-selection ui-grid-auto-resize></div>
                        </div>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>