<div class="modal-content" ng-controller="TiposAvanceCtrl as TiposAvance">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{"(" + TiposAvance.row_entity.CodigoAbreviacion+")" + " " + TiposAvance.row_entity.Nombre}}
                </div>
                <form class="form-horizontal" name="avances_add_edit">
                    <br>
                    <div class="row">
                        <label for="CodigoAbreviacion" class="col-sm-2 control-label">{{'CODIGO_ABREVIACION' | translate }}:</label>
                        <div class="col-sm-9">
                            <span name="CodigoAbreviacion" type="text" class="form-control" ng-required="true">
                          {{TiposAvance.row_entity.CodigoAbreviacion}}
                        </span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label for="nombre" class="col-sm-2 control-label">{{'NOMBRE' | translate }}:</label>
                        <div class="col-sm-9">
                            <span name="CodigoAbreviacion" type="text" class="form-control" ng-required="true">
                        {{TiposAvance.row_entity.Nombre}}
                      </span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label for="descripcion" class="col-sm-2 control-label">{{'DESCRIPCION' | translate }}:</label>
                        <div class="col-sm-9">
                            <textarea name="descripcion" ng-model="TiposAvance.row_entity.Descripcion" rows=7 class="form-control" required="true" readonly></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label for="descripcion" class="col-sm-2 control-label">{{'ACTIVO' | translate }}:</label>
                        <div class="col-sm-9">
                            <md-checkbox ng-model="TiposAvance.row_entity.Activo" class="blue">
                            </md-checkbox>
                        </div>
                    </div>
                    <br>
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ 'LISTA_REQUISITOS_AVANCE' | translate }}
                            </div>
                            <div class="panel-body">
                                <div ui-grid="TiposAvance.grid_option_requisito" class="mi-grid" id="mi-grid" ui-grid-selection ui-grid-auto-resize></div>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>
</div>
</div>