<div class="panel panel-primary panel-body">
    <h2 class="page-header text-center">
        {{ 'SOLICITUD_AVANCE' | translate }}
    </h2>
    <fieldset class="form-group">
        <legend class="text-primary" ng-click="info_terceros=!info_terceros">{{"INFORMACION_TERCERO" | translate}} <span class="fa fa-plus pull-right" ng-show="!info_terceros"></span> <span class="fa fa-minus pull-right" ng-show="info_terceros"></span></legend>

        <div class="panel-body" ng-show="info_terceros">
            <div class="row" ng-if="true">
                <div class="col-md-2">
                    <label>
                         <label>{{'TERCERO' | translate}}:</label>
                    </label>
                </div>
                <div class="col-md-6">
                    <ui-select ng-model="solicitudAvance.tercero.selected" theme="select2" on-select="solicitudAvance.ver_seleccion($item, $model)" style="width:100%;">
                        <ui-select-match placeholder="{{'TERCERO' | translate}}...">{{$select.selected.nombres || $select.selected }}</ui-select-match>
                        <ui-select-choices repeat="tercero in solicitudAvance.terceros | filter: $select.search">
                            <span ng-bind-html="tercero.nombres | highlight: $select.search"></span>
                            <span ng-bind-html="tercero.apellidos | highlight: $select.search"></span><br>
                            <small>
                                Correo electrónico {{tercero.correo}}
                                Documento: <small ng-bind-html="tercero.documento | highlight: $select.search"></small>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-2">
                    <label>{{'DOCUMENTO' | translate}}</label>
                </div>
                <div class="col-md-2">
                    <span class="form-control">{{solicitudAvance.tercero.documento}}</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label for="jefe_solicitante" class="control-label">{{"TIPO_DOCUMENTO" | translate}}</label>
                    <span class="form-control">{{solicitudAvance.tercero.tipo_documento}}</span>
                </div>

                <div class="col-md-6">
                    <label for="dep_destino" class="control-label">{{"LUGAR_DOCUMENTO" | translate}}</label>
                    <span class="form-control">{{solicitudAvance.tercero.lugar}}-
                {{solicitudAvance.terceros.municipio_expedicion_documento.departamento}}</span>
                </div>

                <div class="col-md-6">
                    <label for="jefe_solicitante" class="control-label">{{"NOMBRE" | translate}}</label>
                    <span class="form-control">{{solicitudAvance.tercero.nombres}}</span>
                </div>

                <div class="col-md-6">
                    <label for="ordenador_gasto" class="control-label">{{"APELLIDOS" | translate}}</label>
                    <span class="form-control">{{solicitudAvance.tercero.apellidos}}</span>
                </div>

                <div class="col-md-6">
                    <label for="rol_ordenador_gasto" class="control-label">{{"DIRECCION" | translate}}</label>
                    <span class="form-control">{{solicitudAvance.tercero.direccion}}</span>
                </div>

                <div class="col-md-6">
                    <label for="rol_ordenador_gasto" class="control-label">{{"CORREO_ELECTRONICO" | translate}}</label>
                    <span class="form-control">{{solicitudAvance.tercero.correo}}</span>
                </div>

                <div class="col-md-6">
                    <label for="rol_ordenador_gasto" class="control-label">{{"NUMERO_TELEFONICO" | translate}}</label>
                    <span class="form-control">{{solicitudAvance.tercero.telefono}}</span>
                </div>

                <div class="col-md-6">
                    <label for="rol_ordenador_gasto" class="control-label">{{"NUMERO_CELULAR" | translate}}</label>
                    <span class="form-control">{{solicitudAvance.tercero.celular}}</span>
                </div>
            </div>

        </div>
    </fieldset>
    <fieldset class="form-group">
        <legend class="text-primary" ng-click="info_desc_avances=!info_desc_avances">{{"DESCRIPCION_AVANCES" | translate}} <span class="fa fa-plus pull-right" ng-show="!info_desc_avances"></span> <span class="fa fa-minus pull-right" ng-show="info_desc_avances"></span></legend>
        <div class="panel-body" ng-show="info_desc_avances">
            <div class="row">
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label for="dep_destino" class="control-label">{{"OBJETIVO" | translate}}</label>
                    <textarea class="form-control" ng-model="solicitudAvance.objetivo" rows="5" ng-required="true"></textarea>
                    <label for="dep_destino" class="control-label">{{"JUSTIFICACION" | translate}}</label>
                    <textarea class="form-control" ng-model="solicitudAvance.justificacion" rows="5" ng-required="true"></textarea>
                </div>
                <div class="col-md-6">
                    <label for="ordenador_gasto" class="control-label">{{"DEPENDENCIA" | translate}}</label>
                    <span class="form-control">{{solicitudAvance.tercero.dependencia}}</span>

                    <label for="rol_ordenador_gasto" class="control-label">{{"FACULTAD" | translate}}</label>
                    <span class="form-control">{{solicitudAvance.tercero.facultad}}</span>

                    <label for="rol_ordenador_gasto" class="control-label">{{"PROYECTO_CURRICULAR" | translate}}</label>
                    <span class="form-control">{{solicitudAvance.tercero.carrera}}</span>
                    <label for="rol_ordenador_gasto" class="control-label">{{"CONVENIO" | translate}}</label>
                    <div class="row">
                        <div class="col-md-4">
                            <input class="form-control" ng-model="solicitudAvance.codigo_convenio" placeholder="{{'CODIGO_CONVENIO' | translate}}" ng-required="true">
                            </input>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" ng-model="solicitudAvance.nombre_convenio" placeholder="{{'NOMBRE_CONVENIO' | translate}}" ng-required="true">
                            </input>
                        </div>
                    </div>

                    <label for="rol_ordenador_gasto" class="control-label">{{"PROYECTO_INVESTIGACION" | translate}}</label>
                    <div class="row">
                        <div class="col-md-4">
                            <input class="form-control" ng-model="solicitudAvance.codigo_proyecto_inv" placeholder="{{'CODIGO_PROYECTO' | translate}}" ng-required="true">
                            </input>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" ng-model="solicitudAvance.nombre_proyecto_inv" placeholder="{{'NOMBRE_PROYECTO' | translate}}" ng-required="true">
                            </input>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </fieldset>



    <fieldset class="form-group">
        <legend class="text-primary" ng-click="info_detalle_avances=!info_detalle_avances">{{"TIPO_AVANCE" | translate}} <span class="fa fa-plus pull-right" ng-show="!info_detalle_avances"></span> <span class="fa fa-minus pull-right" ng-show="info_detalle_avances"></span></legend>

        <div class="panel-body" ng-show="info_detalle_avances">
            <div class="row">
                <div class="col-md-6">
                    <label for="dep_destino" class="control-label">{{"TIPO_AVANCE" | translate}}</label>
                    <select name="requisito" ng-model="solicitudAvance.tipo_avance_select" class="form-control" ng-required="true" ng-required="true">
               <option selected value="" disabled>{{'SELECCIONE' | translate }} ...</option>
               <option ng-repeat="r in solicitudAvance.tipos_avance" value="{{r.Id}}">{{"(" + r.CodigoAbreviacion + ")\t" + r.Nombre}}</option>
            </select>
                    <label for="jefe_solicitante" class="control-label">{{"VALOR_AVANCE" | translate}}</label>
                    <input class="form-control input_right" ng-model="solicitudAvance.valor_avance" ui-money-mask="0" ng-required="true"></input>
                </div>
                <div class="col-md-6">
                    <label for="dep_destino" class="control-label">{{"DESCRIPCION" | translate}}</label>
                    <textarea class="form-control" ng-model="solicitudAvance.descripcion" rows="4" ng-required="true"></textarea>
                </div>
            </div>
            <br>
            <div class="row" align="center">
                <button class="btn btn-success btn-outline" ng-click="solicitudAvance.anadir_tipo()">+ {{'TIPO' | translate }}</button>
            </div>
            <br>
            <div class="panel panel-default" ng-repeat="tipo in solicitudAvance.lista_tipos">
                <div class="panel-heading">
                    {{tipo.TipoAvance.Nombre}}
                </div>
                <div class="panel-body">
                    <div class="col-md-8">
                        {{tipo.Descripcion}}
                        <br> Requisitos:
                        <ol>
                            <li ng-repeat="requisito in tipo.requisitos_seleccionados[0]" ng-if="requisito.RequisitoAvance.EtapaAvance.Nombre === 'Solicitud' ">
                                {{requisito.RequisitoAvance.Nombre}}
                            </li>
                        </ol>
                    </div>
                    <div class="col-md-4">
                        <h3>Valor: </h3> <span class="badge"><h5>{{tipo.Valor | currency}}</h5></span>
                    </div>
                </div>
            </div>
            <div class="row" align="center">
                <h3>TOTAL: </h3> <span class="badge"><h5>{{solicitudAvance.total | currency}}</h5></span>
            </div>
        </div>
    </fieldset>
</div>
<div class="row" align="center">
    <button ng-click="solicitudAvance.enviar()" class="btn btn-success btn-outline">{{'BTN.GUARDAR' | translate }}</button> </div>
<br><br><br>
</div>