<section ng-controller="RequisitosCtrl as requisitos" class="chartist">

    <div class="panel panel-primary panel-body">
        <h2 class="page-header text-center">{{ 'REQUISITOS_AVANCE' | translate }}</h2>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'LISTA_REQUISITOS_AVANCE' | translate }}
                </div>
                <div class="panel-body">
                    <div class="mi-grid" id="mi-grid" ui-grid="requisitos.gridOptions" ui-grid-selection ui-grid-pagination></div>
                </div>
                <div class="panel-footer">
                    <div align="center"> <button ng-click="loadrow('', 'add')" class="btn btn-info btn-outline">{{ 'BTN.NUEVO' | translate }}</button></div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade col-md-12" role="dialog" style="padding-top:10%">
        <div class="modal-content col-md-offset-2 col-md-8">
            <div class="modal-header panel-heading">
                <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="">&times</button><br>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" ng-if="requisitos.operacion === 'add' ">
                    {{'NUEVO_REQUISITO_AVANCE' | translate }}
                </div>
                <div class="panel-heading" ng-if="requisitos.operacion === 'edit' ">
                    {{'EDITAR_REQUISITO_AVANCE' | translate }}
                </div>


                <form class="form-horizontal" name="avances_add_edit" ng-submit="avances_add_edit.$valid && requisitos.add_edit()">
                    <br>
                    <div class="row">
                        <label for="CodigoAbreviacion" class="col-sm-2 control-label">{{'CODIGO_ABREVIACION' | translate }}:</label>
                        <div class="col-sm-9">
                            <input name="CodigoAbreviacion" type="text" ng-model="requisitos.row_entity.CodigoAbreviacion" class="form-control" ng-required="true" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label for="nombre" class="col-sm-2 control-label">{{'NOMBRE' | translate }}:</label>
                        <div class="col-sm-9">
                            <input name="CodigoAbreviacion" type="text" ng-model="requisitos.row_entity.Nombre" class="form-control" ng-required="true" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label for="descripcion" class="col-sm-2 control-label">{{'DESCRIPCION' | translate }}:</label>
                        <div class="col-sm-9">
                            <textarea name="descripcion" ng-model="requisitos.row_entity.Descripcion" rows=7 class="form-control" required="true"></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label for="descripcion" class="col-sm-2 control-label">{{'ETAPA' | translate }}:</label>
                        <div class="col-sm-9">
                            <select name="estado" ng-model="requisitos.row_entity.EtapaAvance.Id" class="form-control">
                            <option ng-repeat="etapa in requisitos.etapas" ng-value="etapa.Id">{{etapa.Nombre}}</option>
                        </select>
                        </div>
                    </div>
                    <br>
                    <div class="row" ng-if="requisitos.operacion ==='edit'">
                        <label for="descripcion" class="col-sm-2 control-label">{{'ACTIVO' | translate }}:</label>
                        <div class="col-sm-9">
                            <md-checkbox ng-model="requisitos.row_entity.Activo" class="blue">
                            </md-checkbox>
                        </div>
                    </div>
                    <br>
                    <center>
                        <input type="reset" class="btn btn-info btn-outline" value="{{'BTN.LIMPIAR' | translate }}" ng-if="requisitos.operacion ==='add'" />
                        <input type="submit" class="btn btn-success btn-outline" value="{{'BTN.GUARDAR' | translate }}" />
                    </center>
                </form>
                <br>
            </div>
        </div>
    </div>
</section>