<div ng-controller="crearCompromisoCtrl as crearCompromiso">
  <div ba-panel ba-panel-class=" horizontal-tabs tabs-panel">
    <uib-tabset active="$tabSetStatus.activeTab">
      <uib-tab heading="{{'COMPROMISOS' | translate}}">
        <div class="col-md-12">

          <form name="compromiso_form" ng-submit="compromiso_form.$valid && crearCompromiso.crear_compromiso()" novalidate>

            <fieldset>
              <sel-categoria-tipo categoria="crearCompromiso.nuevo_compromiso.Categoria" tipo="crearCompromiso.nuevo_compromiso.TipoCompromisoTesoral" reload="crearCompromiso.cargar_categoriasc"></sel-categoria-tipo>
            </fieldset>

            <fieldset class="form-group col-md-12">
              <label>{{"OBJETO" | translate}}:</label>
              <textarea class="form-control" rows="7" ng-model="crearCompromiso.nuevo_compromiso.Objeto" placeholder="{{'INGRESE_OBJETO_COMPROMISO' | translate}}" required></textarea>
              <!--small class="text-muted">El objeto indica directamente lo que el compromiso debe cumplir</small-->
            </fieldset>

            <fieldset class="form-group col-md-6">
              <label>{{"VIGENCIA" | translate}}:</label>
              <input type="number" class="form-control" placeholder="AAAA" ng-model="crearCompromiso.nuevo_compromiso.Vigencia" ng-maxlength="{{4}}" required>
            </fieldset>

            <fieldset class="form-group col-md-6">
              <label>{{"UNIDAD_EJECUTORA" | translate}}:</label>
              <!--select class="form-control" id="compromisounidad"  ng-model="crearCompromiso.nuevo_compromiso.UnidadEjecutora" ng-options="unidad.Nombre for unidad in crearCompromiso.unidades_ejecutoras" required>
                  <option value="">-- Seleccion Una Unidad Ejecutora --</option>
                </select-->
              <span class="form-control" readonly> {{"RECTOR"}} <!--MODIFICAR CON AUTENTICACION-->
                </span>
            </fieldset>


            <fieldset class="form-group col-md-12">
              <label>{{"ESTADO" | translate}}:</label>
              <span class="form-control" readonly> {{crearCompromiso.nuevo_estado_compromiso.Nombre}}
                </span>
            </fieldset>

            <fieldset class="form-group col-md-6">
              <label>{{"FECHA_INICIO" | translate}}:</label>
              <div class="input-group date" data-provide="datepicker">
                <md-datepicker md-current-view="year" md-placeholder="{{'FECHA' | translate}}" ng-model="crearCompromiso.nuevo_compromiso.FechaInicio" required></md-datepicker>
              </div>
            </fieldset>

            <fieldset class="form-group col-md-6">
              <label>{{"FECHA_FIN" | translate}}:</label>
              <div class="input-group date" data-provide="datepicker">
                <md-datepicker md-current-view="year" md-placeholder="{{'FECHA' | translate}}" ng-model="crearCompromiso.nuevo_compromiso.FechaFin" required></md-datepicker>
              </div>
            </fieldset>

            <fieldset class="form-group col-md-12">
              <button type="submit" class="btn btn-success btn-outline">{{"BTN.AGREGAR" | translate}}</button>
              <button type="cancel" class="btn btn-danger btn-outline" ng-click="crearCompromiso.nuevo_compromiso={}">{{"BTN.CANCELAR" | translate}}</button>
            </fieldset>

          </form>

          <!--{{crearCompromiso.nuevo_compromiso}}
            {{crearCompromiso.compromisos}}!-->
        </div>

      </uib-tab>
      <uib-tab heading="{{'CATEGORIAS_TIPOS' | translate}}">
        <div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{{"CATEGORIA" | translate}}</h3>
              </div>
              <div class="panel-body"><br />

                <form name="categoria_form" ng-submit="categoria_form.$valid && crearCompromiso.crear_categoria()" novalidate>
                  <fieldset class="form-group col-md-12">
                    <label>{{"NOMBRE" | translate}}: </label>
                    <input type="text" class="form-control" ng-model="crearCompromiso.nueva_categoria.Nombre" placeholder="{{'INGRESE_NOMBRE' | translate}}" ng-maxlength="{{80}}" required>
                    <!--small class="text-muted">Seleccione un nombre para la categoria...</small-->
                  </fieldset>

                  <fieldset class="form-group col-md-12">
                    <label>{{"DESCRIPCION" | translate}}: </label>
                    <textarea class="form-control" ng-model="crearCompromiso.nueva_categoria.Descripcion" placeholder="{{'INGRESE_DESCRIPCION' | translate}}" rows="5"></textarea>
                  </fieldset>

                  <fieldset class="form-group col-md-12">
                    <button type="submit" class="btn btn-success btn-outline">{{"BTN.AGREGAR" | translate}}</button>
                    <button class="btn btn-danger btn-outline" ng-click="crearCompromiso.nueva_categoria={}">{{"BTN.CANCELAR" | translate}}</button>
                  </fieldset>
                </form>

              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{{"TIPO_COMPROMISO" | translate}}</h3>
              </div>
              <div class="panel-body"><br />

                <form name="tipo_form" ng-submit="tipo_form.$valid && crearCompromiso.crear_tipo()" novalidate>

                  <fieldset class="form-group col-md-12">
                    <sel-categoria-tipo categoria="crearCompromiso.nuevo_tipo.CategoriaCompromiso" reload="crearCompromiso.cargar_categorias"></sel-categoria-tipo>
                  </fieldset>

                  <fieldset class="form-group col-md-12">
                    <label>{{"NOMBRE" | translate}}:</label>
                    <input type="text" class="form-control" placeholder="{{'INGRESE_NOMBRE' | translate}}" ng-model="crearCompromiso.nuevo_tipo.Nombre" ng-maxlength="{{150}}" required>
                    <!--small class="text-muted">Un tipo es una subclase de categoria.</small-->
                  </fieldset>

                  <fieldset class="form-group col-md-12">
                    <label for="nombretipo">{{"CODIGO_ABREVIACION" | translate}}:</label>
                    <input type="text" class="form-control" id="nombretipo" placeholder="{{'INGRESE_CODIGO' | translate}}" ng-model="crearCompromiso.nuevo_tipo.CodigoAbreviacion" ng-maxlength="{{20}}" required>
                  </fieldset>

                  <fieldset class="form-group col-md-12">
                    <label>{{"DESCRIPCION" | translate}}: </label>
                    <textarea class="form-control" ng-model="crearCompromiso.nuevo_tipo.Descripcion" placeholder="{{'INGRESE_DESCRIPCION' | translate}}" rows="5"></textarea>
                  </fieldset>

                  <fieldset class="form-group col-md-12">
                    <button type="submit" class="btn btn-success btn-outline">{{"BTN.AGREGAR" | translate}}</button>
                    <button class="btn btn-danger btn-outline" ng-click="crearCompromiso.nuevo_tipo={}">{{"BTN.CANCELAR" | translate}}</button>
                  </fieldset>

                </form>

              </div>

            </div>
          </div>


        </div>

      </uib-tab>
    </uib-tabset>

  </div>

</div>
