<div ng-controller="crearCompromisoCtrl as crearCompromiso">
<div ba-panel ba-panel-class=" horizontal-tabs tabs-panel">
  <uib-tabset active="$tabSetStatus.activeTab">
    <uib-tab heading="Compromisos">
      <div class="col-md-12">


            <form name="compromiso_form" ng-submit="compromiso_form.$valid && crearCompromiso.crear_compromiso()" novalidate>

              <fieldset class="form-group col-md-12">
                <label for="vigenciacompromiso">Vigencia:</label>
                <input type="number" class="form-control" id="vigenciacompromiso" placeholder="AAAA" ng-model="crearCompromiso.nuevo_compromiso.Vigencia" required>
              </fieldset>


              <fieldset>
                <sel-categoria-tipo categoria="crearCompromiso.nuevo_compromiso.Categoria" tipo="crearCompromiso.nuevo_compromiso.TipoCompromisoTesoral" reload="crearCompromiso.cargar_categorias"></sel-categoria-tipo>
              </fieldset>

              <!--fieldset class="form-group">
                <label for="categoriacompromiso">Categoria:</label>
                <select class="form-control" id="categoriacompromiso"  ng-model="crearCompromiso.nuevo_compromiso.Categoria" ng-options="cat.Nombre for cat in crearCompromiso.categorias" required>
                  <option value="">-- Seleccion Una Categoria --</option>
                </select>
              </fieldset>

              <fieldset class="form-group">
                <label for="compromisotipo">Tipo:</label>
                <select class="form-control" id="compromisotipo"  ng-model="crearCompromiso.nuevo_compromiso.TipoCompromisoTesoral" ng-options="tipo.Nombre for tipo in crearCompromiso.tipos | filter : crearCompromiso.nuevo_compromiso.Categoria.Nombre " required>
                  <option value="">-- Seleccion Un Tipo --</option>
                </select>
              </fieldset-->


              <fieldset class="form-group col-md-12">
                <label for="compromisounidad">Unidad Ejecutora:</label>
                <select class="form-control" id="compromisounidad"  ng-model="crearCompromiso.nuevo_compromiso.UnidadEjecutora" ng-options="unidad.Nombre for unidad in crearCompromiso.unidades_ejecutoras" required>
                  <option value="">-- Seleccion Una Unidad Ejecutora --</option>
                </select>
              </fieldset>

              <fieldset class="form-group col-md-12">
                <label for="compromisoobjeto">Objeto:</label>
                <textarea class="form-control" id="compromisoobjeto" rows="4" ng-model="crearCompromiso.nuevo_compromiso.Objeto" required></textarea>
                <small class="text-muted">El objeto indica directamente lo que el compromiso debe cumplir</small>
              </fieldset>

              <fieldset class="form-group col-md-12">
                <label for="compromisounidad">Estado:</label>
                <select class="form-control" id="compromisounidad"  ng-model="crearCompromiso.nuevo_compromiso.EstadoCompromiso" ng-options="estado.Nombre for estado in crearCompromiso.estados_compromiso" required>
                  <option value="">-- Selecciona un estado inicial para el estado --</option>
                </select>
              </fieldset>


              <fieldset class="form-group col-md-6">
                <label for="exampleInputPassword1">Fecha Inicio:</label>
                <div class="input-group date" data-provide="datepicker">
                  <md-datepicker md-current-view="year" md-placeholder="Fecha" ng-model="crearCompromiso.nuevo_compromiso.FechaInicio"  required></md-datepicker>
                </div>
              </fieldset>

              <fieldset class="form-group col-md-6">
                <label for="exampleInputPassword1">Fecha Fin:</label>
                <div class="input-group date" data-provide="datepicker">
                  <md-datepicker md-current-view="year" md-placeholder="Fecha" ng-model="crearCompromiso.nuevo_compromiso.FechaFin"  required></md-datepicker>
                </div>
              </fieldset>

              <fieldset class="form-group col-md-12">
                <button type="submit" class="btn btn-success btn-outline">Crear</button>
                <button type="cancel" class="btn btn-danger btn-outline" ng-click="crearCompromiso.cancelar(compromiso_form)">Cancelar</button>
              </fieldset>


            </form>

            <!--{{crearCompromiso.nuevo_compromiso}}
            {{crearCompromiso.compromisos}}!-->


      </div>

    </uib-tab>
    <uib-tab heading="Categorias y Tipos">
      <div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Categoria</h3>
            </div>
            <div class="panel-body"><br />

              <form name="categoria_form" ng-submit="categoria_form.$valid && crearCompromiso.crear_categoria()" novalidate>
                <fieldset class="form-group col-md-12">
                  <label for="categorianombre">Nombre: </label>
                  <input type="text" class="form-control" id="categorianombre" ng-model="crearCompromiso.nueva_categoria.Nombre" placeholder="Ingrese el nombre" required>
                  <small class="text-muted">Seleccione un nombre para la categoria...</small>
                </fieldset>

                <fieldset class="form-group col-md-12">
                  <label for="descripcioncategoria">Descripción: </label>
                  <textarea class="form-control" id="descripcioncategoria" ng-model="crearCompromiso.nueva_categoria.Descripcion" placeholder="Descripcion para Categoria" rows="4"></textarea>
                </fieldset>

                <fieldset class="form-group col-md-12">
                  <button type="submit" class="btn btn-success btn-outline">Crear</button>
                  <button type="cancel" class="btn btn-danger btn-outline" ng-click="crearCompromiso.cancelar(categoria_form)">Cancelar</button>
                </fieldset>
              </form>

              <!--{{crearCompromiso.nueva_categoria}}
              {{crearCompromiso.categorias}}!-->

            </div>
          </div>
        </div>

          <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Tipo</h3>
            </div>
            <div class="panel-body"><br />

              <form name="tipo_form" ng-submit="tipo_form.$valid && crearCompromiso.crear_tipo()" novalidate>

                <fieldset class="form-group col-md-12">
                    <sel-categoria-tipo categoria="crearCompromiso.nuevo_tipo.CategoriaCompromiso" reload="crearCompromiso.cargar_categorias"></sel-categoria-tipo>
                </fieldset>

                <fieldset class="form-group col-md-12">
                  <label for="nombretipo">Nombre:</label>
                  <input type="text" class="form-control" id="nombretipo" placeholder="ingrese el nombre del tipo" ng-model="crearCompromiso.nuevo_tipo.Nombre" required>
                  <!--small class="text-muted">Un tipo es una subclase de categoria.</small-->
                </fieldset>

                <fieldset class="form-group col-md-12">
                  <label for="nombretipo">Codigo Abreviacion:</label>
                  <input type="text" class="form-control" id="nombretipo" placeholder="ingrese el nombre del tipo" ng-model="crearCompromiso.nuevo_tipo.CodigoAbreviacion" required>
                </fieldset>

                <fieldset class="form-group col-md-12">
                  <label for="descripciontipo">Descripción: </label>
                  <textarea class="form-control" id="descripciontipo" ng-model="crearCompromiso.nuevo_tipo.Descripcion" placeholder="Descripcion para Tipo" rows="4"></textarea>
                </fieldset>

                <!--fieldset class="checkbox form-group col-md-12">
                  <label for="estadotipo">
                    <input type="checkbox" id="estadotipo" ng-model="crearCompromiso.nuevo_tipo.EstadoActivo"> Activar
                  </label>
                </fieldset-->

                <fieldset class="form-group col-md-12">
                  <button type="submit" class="btn btn-success btn-outline">Crear</button>
                  <button type="cancel" class="btn btn-danger btn-outline" ng-click="crearCompromiso.cancelar(tipo_form)">Cancelar</button>
                </fieldset>

              </form>

              <!--{{crearCompromiso.nuevo_tipo}}
              {{crearCompromiso.tipos}}!-->

            </div>

          </div>
        </div>


      </div>

    </uib-tab>
  </uib-tabset>

  </div>

</div>
